<div class="flex justify-center">
  <div class="flex flex-row items-center justify-center max-w-screen-xl mt-24">
    <div class="flex flex-col w-full gap-6 xl:w-1/2">
      <h2 class="text-5xl italic font-extrabold text-vazBlue-700 ">
        Hi, I'm Ryan.
      </h2>
      <p class="font-light text-vazBlack-50">
        I'm a product-focused fullstack engineer, designer, and photographer. I love working
        with Ruby, Rails, Typescript, Node.js, React, and Nextjs. By day I work at an agency where
        we build apps for some of the world's largest companies. By night I jam on side projects
        and/or freelance projects.
      </p>
      <p class="italic font-medium text-vazBlue-700">
        Want to chat about a freelance project or something else? Drop me a line!
      </p>
      <a href="mailto:ryan.vaznis@gmail.com">
        <button class="<%= button_styles %>">
          Contact Me
        </button>
      </a>
    </div>
    <div class="flex items-center justify-center w-1/4">
      <div class="w-48 h-48">
        <%= image_tag 'beard_hat.svg', alt: 'Beard Hat Logo', class: 'h-full w-full' %>
      </div>
    </div>
  </div>
</div>
