<div class="flex flex-wrap gap-2">
  <p class="font-light text-vazBlack-50">Stack used:</p>
  <% tags.each_with_index do |tag, index| %>
    <p class="italic font-light text-vazBlue-700"><%= tag.name %></p>
  <% end %>
</div>
