<div class="flex flex-wrap gap-2">
  <span class="text-gray-700">Stack used:</span>
  <% tags.each_with_index do |tag, index| %>
    <span class="px-2 py-1 text-sm bg-gray-200 rounded"><%= tag %></span>
  <% end %>
</div>
