@tailwind base;
@tailwind components;
@tailwind utilities;

.prose :where(code):not(:where([class~="not-prose"] *)) {
  background-color: #4b5361;
  color: #f6f5f1;
  padding: 8px;
  border-radius: 4px;
  margin: 2px;
}
